*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}
h1{
    text-decoration: underline;
}
img{
    border-radius: 50px;
}
h2{
    font-size: 21px;
}
a{
    text-decoration: none;
}
